<html>

<body>
  <form action='/students/new' method='POST' enctype="multipart/form-data">

    <input type='text' placeholder='First name' name='first_name' />
    <input type='text' placeholder='Biography' name='biography' />
    <input type='text' placeholder='City' name='city' />
    <input type='file' placeholder='Photo' name='photo_url' />

    <button type='submit'>Submit</button>
  </form>
</body>

</html>